@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";

  --color-primary: #0B2545;        
  --color-secondary: #FF6F3C;       
  --color-gray-light: #E5E7EB;     
  --color-gray-medium: #6B7280;    
  --color-white: #FFFFFF;
}
